body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(30deg, #05132e, #3ca4d7);
    background-size: 180% 180%;
}

* {
    box-sizing: border-box;
}

#print {
    display: none;
}

.decor {
    position: relative;
    height: 3em;
    box-sizing: border-box;
    transform-origin: center;
}

.rim {
    display: flex;
    margin: 0;
    height: 2em;
    position: absolute;
    bottom: 0;
}

.decorCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    color: white;
}

header * {
    margin: 0;
}

#name {
    font-weight: 700;
    font-size: clamp(2vw, 1.3em, 6vw);
    color: #207cae;
    text-wrap: nowrap;
    margin: 1.5em 0 0.5em;
}

h2 {
    font-size: 0.7em;
    font-weight: 500;
    color: #E5E059;
}

h1 {
    font-size: 1.2em;
    margin: 0.1em 0 0.3em;
}

h3 {
    font-size: 0.5em;
    font-weight: 500;
}

main {
    border: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
}

main * {
    margin: 0.5em;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.3em;
    color: #2a749f;
}

#averageGlobal {
    color: #319d69;
}

#score {
    font-size: 2.3em;
}

.big {
    font-size: 2.3em;
}

#ability {
    display: flex;
    position: relative;
    width: 100%;
    margin: 1.5em 0;
}

#kammilafzhi {
    display: flex;
    position: absolute;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 0;
}

#kammilafzhi * {
    margin: 0;
}

#kammi,
#lafzhi {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.transparent {
    color: rgba(0, 0, 0, 0.25)
}

.percentages {
    font-size: 5em;
    color: #0000000a;
    margin: 0;
}

.label {
    font-size: 1.2em;
    margin: 0;
    font-weight: 500;
}

.smallLabel {
    font-size: 0.7em;
    margin: 0;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}

#radar {
    margin: 0;
    display: flex;
    width: 60vh;
    justify-content: center;
    align-items: center;
}

#radarChart {
    margin: 0;
    position: relative;
    right: 22px;
}

#predictedScoreCard {
    display: none;
    opacity: 0.7;
}

.signName {
    display: flex;
    font-size: 0.5em;
    font-weight: lighter;
}

#legend {
    width: 100%;
    margin: 0.5em 0 0;
    padding: 1em 0 3.5em;
    background-color: #fff6d1;
}

#legendTable {
    display: flex;
    font-size: 0.75em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th {
    text-align: start;
}

tr {
    margin: 0;
}

th,
td {
    padding: 2px 4px;
}

table tr td:nth-child(even),
table tr th:nth-child(even) {
    direction: rtl;
    font-family: 'Amiri', serif;
}

footer {
    display: flex;
    margin: 1em;
}

#logo {
    height: 6vh;
}

@media screen and (max-width: 600px) {
    #radar {
        width: auto;
    }

    .percentages {
        font-size: 2em;
    }

    #legendTable {
        font-size: 0.6em;
    }
}